ELPCam/ELPapriltag-101-StatsLivePlot.py
ELPCam/ELPapriltag-101.py
ELPCam/ELPapriltag-102-LivePlot.py
ELPCam/ELPapriltag-102-mod20211113.py
ELPCam/ELPapriltag-102.py
ELPCam/ELPcalibrate_camera.py
ELPCam/ELPopenCV-101_captureShowSave.py
ELPCam/ELPopenCV-103_videoStream.py
ELPCam/calibrationImages/20211213/0cali.jpg
ELPCam/calibrationImages/20211213/1cali.jpg
ELPCam/calibrationImages/20211213/2cali.jpg
ELPCam/calibrationImages/20211213/3cali.jpg
ELPCam/calibrationImages/20211213/4cali.jpg
ELPCam/calibrationImages/20211213/5cali.jpg
ELPCam/calibrationImages/20211213/6cali.jpg
ELPCam/calibrationImages/20211213/7cali.jpg
ELPCam/calibrationImages/20211213/8cali.jpg
ELPCam/calibrationImages/20211213/9cali.jpg
ELPCam/calibrationImages/20211213/10cali.jpg
ELPCam/calibrationImages/20211213/11cali.jpg
ELPCam/calibrationImages/20211213/12cali.jpg
ELPCam/calibrationImages/20211213/13cali.jpg
ELPCam/calibrationImages/20211213/14cali.jpg
ELPCam/calibrationImages/20211213/15cali.jpg
ELPCam/calibrationImages/20211213/16cali.jpg
ELPCam/calibrationImages/20211213/17cali.jpg
ELPCam/calibrationImages/20211213/18cali.jpg
ELPCam/calibrationImages/20211213/19cali.jpg
ELPCam/calibrationImages/20211213/20cali.jpg
ELPCam/calibrationImages/20211213/21cali.jpg
ELPCam/calibrationImages/20211213/22cali.jpg
ELPCam/calibrationImages/20211213/23cali.jpg
ELPCam/calibrationImages/20211213/24cali.jpg
ELPCam/calibrationImages/20211213/25cali.jpg
ELPCam/calibrationImages/20211213/26cali.jpg
ELPCam/calibrationImages/20211213/27cali.jpg
ELPCam/calibrationImages/20211221/0cali.jpg
ELPCam/calibrationImages/20211221/1cali.jpg
ELPCam/calibrationImages/20211221/2cali.jpg
ELPCam/calibrationImages/20211221/3cali.jpg
ELPCam/calibrationImages/20211221/4cali.jpg
ELPCam/calibrationImages/20211221/5cali.jpg
ELPCam/calibrationImages/20211221/6cali.jpg
ELPCam/calibrationImages/20211221/7cali.jpg
ELPCam/calibrationImages/20211221/8cali.jpg
ELPCam/calibrationImages/20211221/9cali.jpg
ELPCam/calibrationImages/20211221/10cali.jpg
ELPCam/calibrationImages/20211221/11cali.jpg
ELPCam/calibrationImages/20211221/12cali.jpg
ELPCam/calibrationImages/20211221/13cali.jpg
ELPCam/calibrationImages/20211221/14cali.jpg
ELPCam/calibrationImages/20211221/15cali.jpg
ELPCam/calibrationImages/20211221/16cali.jpg
ELPCam/calibrationImages/20211221/17cali.jpg
ELPCam/calibrationImages/20211221/18cali.jpg
ELPCam/calibrationImages/20211221/19cali.jpg
ELPCam/calibrationImages/20211221/20cali.jpg
ELPCam/calibrationImages/20211221/21cali.jpg
ELPCam/calibrationImages/20211221/22cali.jpg
ELPCam/calibrationImages/20211221/23cali.jpg
ELPCam/calibrationImages/20211221/24cali.jpg
ELPCam/calibrationImages/20211221/25cali.jpg
ELPCam/calibrationImages/20211221/26cali.jpg
ELPCam/calibrationImages/20211221/27cali.jpg
ELPCam/calibrationImages/20211221/28cali.jpg
ELPCam/calibrationImages/20211221/29cali.jpg
ELPCam/calibrationImages/20211221/30cali.jpg
ELPCam/calibrationImages/20211221/31cali.jpg
ELPCam/calibrationImages/20211221/32cali.jpg
ELPCam/calibrationImages/20211221/33cali.jpg
ELPCam/calibrationImages/20211221/34cali.jpg
ELPCam/calibrationImages/20211221/35cali.jpg
ELPCam/calibrationImages/20211221/36cali.jpg
ELPCam/calibrationImages/20211221/37cali.jpg
ELPCam/calibrationImages/20211221/38cali.jpg
ELPCam/calibrationImages/20211221/39cali.jpg
ELPCam/calibrationImages/20211221/40cali.jpg
ELPCam/calibrationImages/20211221/41cali.jpg
ELPCam/calibrationImages/20211221/42cali.jpg
ELPCam/calibrationImages/20211221/43cali.jpg
ELPCam/calibrationImages/20211221/44cali.jpg
ELPCam/calibrationImages/20211221/45cali.jpg
ELPCam/calibrationImages/20211221/46cali.jpg
ELPCam/calibrationImages/20211221/47cali.jpg
ELPCam/calibrationImages/20211221/48cali.jpg
ELPCam/calibrationImages/20211221/49cali.jpg
ELPCam/calibrationImages/20211221/50cali.jpg
ELPCam/calibrationImages/20211221/51cali.jpg
ELPCam/calibrationImages/20211221/52cali.jpg
ELPCam/calibrationImages/20211221/53cali.jpg
ELPCam/calibrationImages/20211221/54cali.jpg
ELPCam/calibrationImages/20211221/55cali.jpg
ELPCam/calibrationImages/20211221/56cali.jpg
ELPCam/calibrationImages/20211221/57cali.jpg
ELPCam/calibrationImages/20211221/58cali.jpg
ELPCam/calibrationImages/20211221/59cali.jpg
ELPCam/calibrationImages/20211221/60cali.jpg
ELPCam/calibrationImages/20211221/61cali.jpg
ELPCam/calibrationImages/20211221/62cali.jpg
ELPCam/calibrationImages/20211221/63cali.jpg
ELPCam/calibrationImages/20211221/64cali.jpg
ELPCam/calibrationImages/20211221/65cali.jpg
ELPCam/calibrationImages/20211221/66cali.jpg
ELPCam/calibrationImages/20211221/67cali.jpg
ELPCam/calibrationImages/20211221/68cali.jpg
ELPCam/calibrationImages/20211221/69cali.jpg
ELPCam/calibrationImages/20211221/70cali.jpg
ELPCam/calibrationImages/20211221/71cali.jpg
ELPCam/calibrationImages/20211221/72cali.jpg
ELPCam/calibrationImages/20211221/73cali.jpg
ELPCam/calibrationImages/20211221/74cali.jpg
ELPCam/calibrationImages/20211221/75cali.jpg
ELPCam/calibrationImages/20211221/76cali.jpg
ELPCam/calibrationImages/20211221/77cali.jpg
ELPCam/calibrationImages/20211221/78cali.jpg
ELPCam/calibrationImages/20211221/79cali.jpg
ELPCam/calibrationImages/20211221/80cali.jpg
ELPCam/calibrationImages/20211221/81cali.jpg
ELPCam/calibrationImages/20211221/82cali.jpg
ELPCam/calibrationImages/20211221/83cali.jpg
ELPCam/calibrationImages/20211221/84cali.jpg
ELPCam/calibrationImages/20211221/85cali.jpg
ELPCam/calibrationImages/20211221/86cali.jpg
ELPCam/calibrationImages/20211221/87cali.jpg
ELPCam/calibrationImages/20211221/88cali.jpg
ELPCam/calibrationImages/20211221/89cali.jpg
ELPCam/calibrationImages/20211221/90cali.jpg
ELPCam/calibrationImages/20211221/91cali.jpg
ELPCam/calibrationImages/20211221/92cali.jpg
ELPCam/calibrationImages/20211221/93cali.jpg
ELPCam/calibrationImages/20211221/94cali.jpg
ELPCam/calibrationImages/20211221/95cali.jpg
ELPCam/calibrationImages/20211221/96cali.jpg
ELPCam/calibrationImages/20211221/97cali.jpg
ELPCam/calibrationImages/20211221/98cali.jpg
ELPCam/calibrationImages/20211221/99cali.jpg
ELPCam/calibrationImages/20211221/100cali.jpg
ELPCam/calibrationImages/20211221/101cali.jpg
ELPCam/calibrationImages/20211221/102cali.jpg
ELPCam/calibrationImages/20211221/103cali.jpg
ELPCam/calibrationImages/20211221/104cali.jpg
ELPCam/calibrationImages/20211221/105cali.jpg
ELPCam/calibrationImages/20211221/106cali.jpg
ELPCam/calibrationImages/20211221/107cali.jpg
ELPCam/calibrationImages/20211221/108cali.jpg
ELPCam/calibrationImages/20211221/109cali.jpg
ELPCam/calibrationImages/20211221/110cali.jpg
ELPCam/calibrationImages/20211221/111cali.jpg
ELPCam/calibrationImages/20211221/112cali.jpg
ELPCam/calibrationImages/20211221/113cali.jpg
ELPCam/calibrationImages/20211221/114cali.jpg
ELPCam/calibrationImages/20211221/115cali.jpg
ELPCam/calibrationImages/20211221/116cali.jpg
ELPCam/calibrationImages/20211221/117cali.jpg
ELPCam/calibrationImages/20211221/118cali.jpg
ELPCam/calibrationImages/20211221/119cali.jpg
ELPCam/calibrationImages/20211221/120cali.jpg
ELPCam/calibrationImages/20211221/121cali.jpg
ELPCam/calibrationImages/20211221/122cali.jpg
ELPCam/calibrationImages/20211221/123cali.jpg
ELPCam/calibrationImages/20211221/124cali.jpg
ELPCam/calibrationImages/20211221/125cali.jpg
ELPCam/calibrationImages/20211221/126cali.jpg
ELPCam/calibrationImages/20211221/127cali.jpg
ELPCam/calibrationImages/20211221/128cali.jpg
ELPCam/calibrationImages/20211221/129cali.jpg
ELPCam/calibrationImages/20211221/130cali.jpg
ELPCam/calibrationImages/20211221/131cali.jpg
ELPCam/calibrationImages/20211221/132cali.jpg
ELPCam/calibrationImages/20211221/133cali.jpg
ELPCam/calibrationImages/20211221/134cali.jpg
ELPCam/calibrationImages/20211221/135cali.jpg
ELPCam/calibrationImages/20211221/136cali.jpg
ELPCam/calibrationImages/20211221/137cali.jpg
ELPCam/calibrationImages/20211221/138cali.jpg
ELPCam/calibrationImages/20211221/139cali.jpg
ELPCam/calibrationImages/20211221/140cali.jpg
ELPCam/calibrationImages/20211221/141cali.jpg
ELPCam/calibrationImages/20211221/142cali.jpg
ELPCam/calibrationImages/20211221/143cali.jpg
ELPCam/calibrationImages/20211221/144cali.jpg
ELPCam/calibrationImages/20211221/145cali.jpg
ELPCam/calibrationImages/20211221/146cali.jpg
ELPCam/calibrationImages/20211221/147cali.jpg
ELPCam/calibrationImages/20211221/148cali.jpg
ELPCam/calibrationImages/20211221/149cali.jpg
ELPCam/calibrationImages/20211221/150cali.jpg
ELPCam/calibrationImages/20211221/151cali.jpg
ELPCam/calibrationImages/20211221/152cali.jpg
ELPCam/calibrationImages/20211221/153cali.jpg
ELPCam/calibrationImages/20211221/154cali.jpg
ELPCam/calibrationImages/20211221/155cali.jpg
ELPCam/calibrationImages/20211221/156cali.jpg
ELPCam/calibrationImages/20211221/157cali.jpg
ELPCam/calibrationImages/20211221/158cali.jpg
ELPCam/calibrationImages/20211221/159cali.jpg
ELPCam/calibrationImages/20211221/160cali.jpg
ELPCam/calibrationImages/20211221/161cali.jpg
ELPCam/calibrationImages/20211221/162cali.jpg
ELPCam/calibrationImages/20211221/163cali.jpg
ELPCam/calibrationImages/20211221/164cali.jpg
ELPCam/calibrationImages/20211221/165cali.jpg
ELPCam/calibrationImages/20211221/166cali.jpg
ELPCam/calibrationImages/20211221/167cali.jpg
ELPCam/calibrationImages/20211221/168cali.jpg
ELPCam/calibrationImages/20211221/169cali.jpg
ELPCam/calibrationImages/20211221/170cali.jpg
ELPCam/calibrationImages/20211221/171cali.jpg
ELPCam/calibrationImages/20211221/172cali.jpg
ELPCam/calibrationImages/20211221/173cali.jpg
ELPCam/calibrationImages/20211221/174cali.jpg
ELPCam/calibrationImages/20211221/175cali.jpg
ELPCam/calibrationImages/20211221/176cali.jpg
ELPCam/calibrationImages/20211221/177cali.jpg
ELPCam/calibrationImages/20211221/178cali.jpg
ELPCam/calibrationImages/20211221/179cali.jpg
ELPCam/calibrationImages/20211221/180cali.jpg
ELPCam/calibrationImages/20211221/181cali.jpg
ELPCam/calibrationImages/20211221/182cali.jpg
ELPCam/calibrationImages/20211221/183cali.jpg
ELPCam/calibrationImages/20211221/184cali.jpg
ELPCam/calibrationImages/20211221/185cali.jpg
ELPCam/calibrationImages/20211221/186cali.jpg
ELPCam/calibrationImages/20211221/187cali.jpg
ELPCam/calibrationImages/20211221/188cali.jpg
ELPCam/calibrationImages/20211221/189cali.jpg
ELPCam/calibrationImages/20211221/190cali.jpg
ELPCam/calibrationImages/20211221/191cali.jpg
ELPCam/calibrationImages/20211221/192cali.jpg
ELPCam/calibrationImages/20211221/193cali.jpg
ELPCam/calibrationImages/20211221/194cali.jpg
noBotDevAndSims/sentdex/ORB_BFMatcher/ELPORB_BFMatcher-Locator-vid-score-myPix-4.py
ELPCam/ELPapriltag-101.py
ELPCam/ELPopenCV-101_captureShowSave.py
ELPCam/ELPopenCV-103_videoStream.py
ELPCam/ELPapriltag-101.py
ELPCam/ELPopenCV-101_captureShowSave.py
ELPCam/ELPopenCV-103_videoStream.py
